*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --background-main: #F8F4EA;
    --background-container: #ECE8DD;
    --primary-color: #579BB1;
    --button-color: #8AC5D2;
    --button-hover-color: #6BA8B9;
    --border-shadow: #E1D7C6;
    --text-main: #333;
    --text-area-bg: #FFF;
}

[data-theme="dark"] {
    --background-main: #2C2C2C;
    --background-container: #453453;
    --primary-color: #7E63A1;
    --button-color: #9C7DBD;
    --button-hover-color: #6B5490;
    --border-shadow: #161616;
    --text-main: #FFFFFF;
    --text-area-bg: #3A3A3A;
}

body {
    background-color: var(--background-main);
    margin: 0;
    font-family: sans-serif;
    color: var(--text-main);
}

.App {
    background-color: var(--background-main);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    color: var(--text-main);
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: var(--primary-color);
    color: var(--text-area-bg);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.Code {
    display: flex;
    width: 100%;
}

.EA, .TA {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.EA {
    justify-content: flex-start;
}

.TA {
    justify-content: flex-end;
}

.EA textarea, .TA textarea, .RA textarea {
    width: 100%;
    resize: none;
    box-shadow: 0 0 10px var(--border-shadow);
    background-color: var(--text-area-bg);
    color: var(--text-main);
}

.RA textarea {
    height: 120px;
}

input {
    background-color: var(--text-area-bg);
    color: var(--text-main);
}

.Console {
    width: 100%;
    margin-bottom: 217px;
}

.RA {
    width: 100%;
}

.menuContainer {
    min-height: 80px;
    background-color: var(--primary-color);
    color: var(--text-area-bg);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    flex-wrap: nowrap;
}

.menuContainer h1 {
    text-align: center;
    margin: 0 10px;
    white-space: nowrap; /* Evita que el título se rompa en líneas */
    overflow: hidden; /* Esconde cualquier texto que exceda el ancho máximo */
    text-overflow: ellipsis; /* Muestra puntos suspensivos si el título es demasiado largo */
}

.AboutButton, .prefContainer {
    flex: 0 0 auto; /* No crece, no se reduce y no tiene una base flexible. */
}

.popupBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupContent {
    position: relative;
    background-color: var(--background-container);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 20px var(--border-shadow);
    text-align: left;
    max-height: 80vh;
    overflow-y: auto;
    color: var(--text-main);
}

.popupContent h3, .popupContent h4 {
    border-bottom: 1px solid var(--text-main);
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.popupContent button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.prefContainer {
    position: relative;
}

.preferencesDropdown input {
    box-shadow: none;
}

.preferencesDropdown {
    position: absolute;
    right: 0;
    top: 100%;
    background: var(--background-container);
    padding: 10px;
    border: 1px solid var(--border-shadow);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 0 10px var(--border-shadow);
    color: var(--text-main);
    border-radius: 20px;
}

button, .button {
    background-color: var(--button-color);
    color: var(--text-main);
    border: none;
    padding: 3px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    margin: 2px;
}

.menuContainer button, .menuContainer .button {
    padding: 10px 20px;
    border-radius: 20px;
}

.menuContainer button:hover, .menuContainer .button:hover {
    background-color: #7B9CA5;
}

button:hover, .button:hover {
    background-color: var(--primary-color);
}

[data-theme="light"] button:hover, [data-theme="light"] .button:hover {
    background-color: var(--button-hover-color);
}

[data-theme="dark"] button:hover, [data-theme="dark"] .button:hover {
    background-color: var(--button-hover-color);
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}
